server:
  port: 8080
  servlet:
    context-path: /

spring:
  security:
    user:
      name: admin
      password: admin
  application:
    name: orchestra-api
  datasource:
    url: jdbc:postgresql://localhost:5432/furniture_db
    username: postgres
    password: password
    hikari:
      connectionInitSql: "SET client_encoding TO 'UTF8'"
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      schema-locations: classpath:init.sql

logging:
  level:
    com.example.api: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
